In [1]:
df = pd.read_csv('Задание для ML (TASK2).csv', sep=';', encoding='1251')

In [2]:
df.head()

,paste.UND2...9...ID..sep.......,X|Y|ID
0,"""Россия, Москва, Калининская линия, метро Авиа...",37.567545|55.744596|45115
1,"""Россия, Москва, Замоскворецкая линия, метро А...",30.321887|59.866269|107383
2,"""Россия, Москва, Калужско-Рижская линия, метро...",30.359975|59.944436|193410
3,"""Россия, Москва, Филёвская линия, метро Алекса...",37.620986|55.771616|135657
4,"""Россия, Москва, Калужско-Рижская линия, метро...",82.976215|55.037969|88577

In [3]:
# clear first column and split to dataframe by comma sign
col_1 = df.iloc[:, 0]
col_1 = col_1.str.replace('"', '')
df_first = col_1.str.split(',', expand=True)

In [4]:
df_first.head()

,0,1,2,3,4,5
0,Россия,Москва,Калининская линия,метро Авиамоторная,12816,None
1,Россия,Москва,Замоскворецкая линия,метро Автозаводская,141887,None
2,Россия,Москва,Калужско-Рижская линия,метро Академическая,126917,None
3,Россия,Москва,Филёвская линия,метро Александровский сад,168611,None
4,Россия,Москва,Калужско-Рижская линия,метро Алексеевская,58520,None

In [5]:
# extract columns for ID, metro and city
col_ID = df_first.apply(lambda x: x[x[::-1].first_valid_index()], axis=1)
col_metro = df_first.apply(lambda x: x[x.str.contains('метро').idxmax()].replace('метро','').strip(), axis=1)
col_city = df_first.apply(lambda x: x.iloc[2] if x.str.contains('область|республика', case=False).any() 
                          else x.iloc[1], axis=1)

# joining them for one dataframe
df_city = pd.concat([col_city, col_metro, col_ID], axis=1)
df_city.columns = ['Город', 'Метро', 'ID' ]

In [6]:
df_city.head()

     Город                Метро      ID
0   Москва         Авиамоторная   12816
1   Москва        Автозаводская  141887
2   Москва        Академическая  126917
3   Москва  Александровский сад  168611
4   Москва         Алексеевская   58520

In [7]:
# extract coordinates and ID from second column
df_coord = df.iloc[:, 1].str.split('|', expand=True)
df_coord.columns = ['X', 'Y', 'ID']

In [8]:
df_coord.head()

           X          Y      ID
0  37.567545  55.744596   45115
1  30.321887  59.866269  107383
2  30.359975  59.944436  193410
3  37.620986  55.771616  135657
4  82.976215  55.037969   88577

In [9]:
# Check that all ID for cities are coincide with ID for coordinates
df_coord['ID'].isin(df_city['ID']).sum(), df_city['ID'].isin(df_coord['ID']).sum(), len(df_coord)

(335, 335, 335)

In [10]:
df_full = pd.merge(df_city, df_coord, on='ID')

In [11]:
df_full.head()

     Город                Метро      ID          X          Y
0   Москва         Авиамоторная   12816  37.716612  55.751432
1   Москва        Автозаводская  141887  37.657008  55.706629
2   Москва        Академическая  126917  37.573447  55.687761
3   Москва  Александровский сад  168611  37.609308  55.752075
4   Москва         Алексеевская   58520  37.638737    55.8078

In [12]:
df_full.shape

(335, 5)

In [13]:
df_full.to_csv('task2_cleared.csv', sep=';', index=False, encoding='utf-8')

In [14]:
link_from_google_drive='https://www.google.com/fusiontables/DataSource?docid=1zeimWwjWnB1c_XvlYAko1yfO1bwSaZAaHKBjWSAz'